<section class="basic-section bg-negative section-padding">
	<div class="wrap">
		<div class="mw-480">
			<h1 class="title negative-title-color">Kontaktiraj nas</h1>
			<p class="paragraph negative-paragraph-color">
				Ukoliko imaš nekih pitanja ili želiš iz bilo kog razloga da stupiš u kontakt sa nama, možeš nas kontaktirati i mi ćemo se javiti u najkraćem mogućem roku.
			</p>
			<div class="cta">
				<a href="mailto:jovan@dizajnsrbija.org" target="_blank" class="negative-title-color">jovan@dizajnsrbija.org</a>
			</div>
		</div>
	</div>
</section>
