<section class="basic-section columns bg-negative section-padding">
	<div class="wrap">
		<div class="mw-480">
			<h1 class="title home-page-title negative-title-color">Učlani se u Meetup.com grupu</h1>
			<p class="paragraph negative-paragraph-color">
				Postani deo Dizajn Srbija zajednice i primaj obaveštenja o novim dogadjajima i učestvuj u diskusijama.
			</p>
		</div>
		<div class="cta">
			<a href="https://www.meetup.com/designserbia/" target="_blank" class="btn primary big-btn">Idi na Meetup.com grupu</a>
		</div>
	</div>
</section>
